ShipAPI/.vs/
ShipAPI/.vs
ShipAPI/.vs/ProjectEvaluation/shipapi.metadata.v5.2
ShipAPI/.vs/ProjectEvaluation/shipapi.projects.v5.2
ShipAPI/.vs/ShipAPI/DesignTimeBuild/.dtbcache.v2
ShipAPI/.vs/ShipAPI/FileContentIndex/0c91e13e-f59b-4d1b-b787-63da6a344f14.vsidx
ShipAPI/.vs/ShipAPI/v17/.suo
ShipAPI/bin/
ShipAPI/bin
ShipAPI/obj/Debug/net7.0/ShipAPI.dll
ShipAPI/obj/Debug/net7.0/ShipAPI.pdb
ShipAPI/.vs/ShipAPI/DesignTimeBuild/.dtbcache.v2
ShipAPI/.vs/ShipAPI/v17/.suo
