ShipAPI/.vs/ProjectEvaluation/shipapi.metadata.v5.2
ShipAPI/.vs/ProjectEvaluation/shipapi.projects.v5.2
ShipAPI/.vs/ShipAPI/DesignTimeBuild/.dtbcache.v2
ShipAPI/.vs/ShipAPI/FileContentIndex/0c0aefab-ee72-4c34-aca7-e72d529e3f39.vsidx
ShipAPI/.vs/ShipAPI/FileContentIndex/0e33e247-130a-4034-9115-a20dea4a9e0c.vsidx
ShipAPI/.vs/ShipAPI/FileContentIndex/512a3739-81ce-4dc8-958f-ba8b2432183c.vsidx
ShipAPI/.vs/ShipAPI/FileContentIndex/742b8f21-a338-4f8f-b83e-7b24faab8ad6.vsidx
ShipAPI/.vs/ShipAPI/FileContentIndex/2442ead5-5235-47dd-bc0c-496875ae890f.vsidx
ShipAPI/.vs/ShipAPI/FileContentIndex/7213fa4b-dbae-4006-a77d-48b5b2301074.vsidx
ShipAPI/.vs/ShipAPI/v17/.futdcache.v2
ShipAPI/.vs/ShipAPI/v17/.suo
ShipAPI/.vs/ShipAPI/v17/.suo
ShipAPI/.vs/ShipAPI/v17/.suo
ShipAPI/.vs/ProjectEvaluation/shipapi.metadata.v5.2
ShipAPI/.vs/ProjectEvaluation/shipapi.projects.v5.2
ShipAPI/.vs/ShipAPI/DesignTimeBuild/.dtbcache.v2
